<ion-header class="hidden">
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content rdlaboScrollHeader>
  <ion-header>
    <ion-toolbar>
      <ion-title>scroll-header(ion-content)</ion-title>
      <ion-buttons slot="end">
        <ion-button color="dark" href="https://github.com/rdlabo-team/ionic-angular-library/tree/main/projects/scroll-header#readme"
          ><ion-icon name="logo-github" slot="icon-only"></ion-icon
        ></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-list-header><ion-label>Ionicons</ion-label></ion-list-header>
    @for (item of sourceIonIcons; track item) {
      <ion-item>
        <ion-icon slot="start" [name]="item"></ion-icon>
        <ion-label>{{ item }}</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>
