@use '../ios-variables';

.ios {
  ion-popover {
    --backdrop-opacity: 0.04;
    &::part(arrow) {
      //display: none;
    }
    &:not(.popover-exclude-content) {
      &::part(content) {
        @include ios-variables.glass-background(0.6);
        border-radius: 24px;
        padding: 0;
      }
    }
    ion-list {
      background: transparent;
      ion-item {
        --background: transparent;
      }
    }
  }
}
