<ion-header>
  <ion-toolbar>
    <ion-title>DynamicSizeVirtualScroll</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" href="https://github.com/rdlabo-team/ionic-angular-library/tree/main/projects/scroll-strategies#readme"
        ><ion-icon name="logo-github" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <cdk-virtual-scroll-viewport rdlaboFixVirtualScrollElement [itemDynamicSizes]="dynamicSize()" minBufferPx="900" maxBufferPx="1350">
    <div *cdkVirtualFor="let item of items(); trackBy: trackByFn" class="dynamic-item" [style.height.px]="item.itemSize">
      itemSize: {{ item.itemSize }}
    </div>
  </cdk-virtual-scroll-viewport>
</ion-content>
