<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/scroll-strategies"></ion-back-button>
    </ion-buttons>
    <ion-title>scroll-simple</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" href="https://github.com/rdlabo-team/ionic-angular-library/tree/main/projects/scroll-strategies#readme"
        ><ion-icon name="logo-github" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false">
  <cdk-virtual-scroll-viewport
    class="ion-content-scroll-host"
    rdlaboFixVirtualScrollElement
    [itemDynamicSizes]="dynamicSize()"
    minBufferPx="900"
    maxBufferPx="1350"
  >
    <div *cdkVirtualFor="let item of items(); trackBy: trackByFn" class="dynamic-item" [style.height.px]="item.itemSize">
      itemSize: {{ item.itemSize }}
    </div>
    <ion-infinite-scroll (ionInfinite)="loadInfinite($any($event))">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </cdk-virtual-scroll-viewport>
</ion-content>
