<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/kit/auth/signin"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form novalidate (submit)="$event.preventDefault(); doReset()">
    <ion-list>
      <ion-item>
        <ion-input
          data-testid="auth-email"
          type="email"
          inputmode="email"
          label="Email"
          labelPlacement="floating"
          autocomplete="email"
          [formField]="resetForm.email"
          kitAuthInput="email"
        ></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-text-center ion-padding-top">
      <ion-button data-testid="auth-reset" type="submit" [disabled]="isLoading() || !resetForm().valid()">
        @if (isLoading()) {
          <ion-spinner name="crescent"></ion-spinner>
        } @else {
          Send reset email
        }
      </ion-button>
    </div>
  </form>
</ion-content>
