<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/scroll-strategies"></ion-back-button>
    </ion-buttons>
    <ion-title>scroll-reverse</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" href="https://github.com/rdlabo-team/ionic-angular-library/tree/main/projects/scroll-strategies#readme"
        ><ion-icon name="logo-github" slot="icon-only"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <cdk-virtual-scroll-viewport
    rdlaboFixVirtualScrollElement
    [itemDynamicSizes]="dynamicSize()"
    [isReverse]="true"
    minBufferPx="900"
    maxBufferPx="1350"
  >
    @if (this.isLoading) {
      <div class="ion-text-center ion-padding">
        <ion-spinner></ion-spinner>
      </div>
    }
    <div class="reverse-items">
      <div *cdkVirtualFor="let item of items(); let i = index; trackBy: trackByFn" class="dynamic-item" [style.height.px]="item.itemSize">
        itemSize: {{ item.itemSize }} / index: {{ i }}
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ion-content>
