<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" href="/main/photo-editor">
      <ion-icon aria-hidden="true" name="image-outline"></ion-icon>
      <ion-label>PhotoEditor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/main/scroll-header">
      <ion-icon aria-hidden="true" name="square-outline"></ion-icon>
      <ion-label>ScrollHeader</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/main/virtual-scroll-header">
      <ion-icon aria-hidden="true" name="browsers-outline"></ion-icon>
      <ion-label>VirtualScrollHeader</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/main/scroll-strategies">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>DynamicSizeScroll</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
